.flex, .flex-wrap,
.align-self-start,
.align-self-end,
.align-self-center,
.justify-around,
.justify-between, .flex-between, .flex-col-between,
.justify-center, .flex-center, .flex-col-center,
.justify-end,
.justify-start,
.align-baseline,
.align-center,
.align-end,
.align-start,
.flex-col {
  display: flex;
}

.flex-col, .flex-col-center, .flex-col-between {
  flex-direction: column;
}

.align-center, .flex-center, .flex-col-center, .flex-between {
  align-items: center;
}

.justify-center, .flex-center, .flex-col-center {
  justify-content: center;
}

.justify-between, .flex-between, .flex-col-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-center {
  align-self: center;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}
